*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
**/__pycache__/
.env
.csv
*.csv
.jpg
.jpeg
.png
.tiff
.dng
notebooks/victor/lacentrale/images/
notebooks/victor/lacentrale/annonces/
notebooks/victor/lacentrale/pages/
notebooks/victor/paruvendu/images/
notebooks/victor/paruvendu/annonces/
notebooks/victor/paruvendu/pages/
notebooks/victor/paruvendu/vault/

