*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
__pycache__
.env
*.csv
*.jpeg
*.png
*.tiff
*.dng
*.html
sandbox_notebook_victor
*.ipynb
notebooks/victor/lacentrale/images/
notebooks/victor/motoplanete/
notebooks/victor/paruvendu/images/
tresboncoin/data/motoplanete/images/
tresboncoin/data/paruvendu/images/
